
{% extends 'base/base.html' %}


{% block title %}Lista de Produtos{% endblock %}

{% block topbar %}
ESTOQUE
{% endblock %}

{% block controls %}
<a href="{% url 'criar_produto' %}"><button>+ Adicionar produto</button></a>
<button type="submit" form="filtro-form">Filtro</button>

<form method="GET" style="display: inline;" id="filtro-form">
    <input type="hidden" name="q" value="{{ query }}">
    <select name="categoria">
        <option value="">Categoria</option>
        {% for valor, nome_legivel in categorias %}
            <option value="{{ valor }}" {% if categoria == valor %}selected{% endif %}>{{ nome_legivel }}</option>
        {% endfor %}
    </select>
</form>

<form method="GET" style="display: inline;">
    <input type="text" name="q" value="{{ query }}" placeholder="Pesquisa produto">
    <input type="hidden" name="categoria" value="{{ categoria }}">
</form>
{% endblock %}

{% block indicators %}
<div class="card green">
    Total de vendas hoje<br><strong>R$ 1034,89</strong>
</div>
<div class="card red">
    Baixa quantidade de produtos<br><strong>{{ baixa_quantidade_count }}</strong>
</div>
<div class="card orange">
    Produtos próximos da validade<br><strong>{{ perto_validade_count }}</strong>
</div>
{% endblock %}

{% block content %}
<div class="products">
  {% for produto in page_obj %}
    <div class="product-card">
      {% if produto.imagem %}
        <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" width="150" />
      {% else %}
        <p>Sem imagem</p>
      {% endif %}

      <h3>{{ produto.nome }}<br>{{ produto.get_categoria_display }}</h3>
      <div class="price">R$: {{ produto.preco }}</div>
      <div class="qty {% if produto.quantidade_em_estoque > 12 %}qty-green{% endif %}">QTD {{ produto.quantidade_em_estoque }}</div>

      <!-- Validade -->
      <div>
          Validade: {{ produto.data_validade|date:"d/m/Y" }}

          {% if produto.data_validade < hoje %}
              <span class="badge badge-red">VENCIDO</span>
          {% elif produto.data_validade <= hoje|add:"30 days" %}
              <span class="badge badge-yellow">Perto de vencer</span>
          {% endif %}
      </div>

      <div class="actions" style="margin-top: 10px;">
          <a href="{% url 'atualizar_produto' produto.id %}">Editar</a> |
          <form method="post" action="{% url 'deletar_produto' produto.id %}" style="display:inline;">
              {% csrf_token %}
              <button type="submit">Deletar</button>
          </form>
      </div>
    </div>
  {% empty %}
    <p>Nenhum produto encontrado.</p>
  {% endfor %}
</div>
{% endblock %}

{% block pagination %}
{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}&q={{ query }}&categoria={{ categoria }}">Anterior</a>
{% endif %}

<span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}&q={{ query }}&categoria={{ categoria }}">Próxima</a>
{% endif %}
{% endblock %}
