{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - PDV Pharmacy</title>
    <link rel="stylesheet" href="{% static 'css/style_login.css' %}">
</head>
<body>

    <!-- Seção azul (lado esquerdo) -->
    <section class="color-section">
        <img src="{% static 'img/logo-icon.png' %}" alt="Logo PDV Farma" class="logo">
        <footer class="footer">
            <p>© 2025 PDV Pharmacy. Todos os direitos reservados.</p>
        </footer>
    </section>

    <!-- Seção branca (lado direito) -->
    <section class="login-section">
        <h2>Login</h2>

        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Email:</label>
                <input type="text" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" name="password" required>
            </div>

            {% if form.errors %}
                <p style="color: red;">Usuário ou senha inválidos.</p>
            {% endif %}

            <button type="submit" class="btn-login">Entrar</button>
        </form>

        <p>Em caso de perda de senha, contatar o suporte do PDV Farma.</p>
    </section>

</body>
</html>
